@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
}

.container {
    max-width: 1170px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    box-sizing: border-box;
}

/* 
! ==========================================
! HERO | START
! ==========================================
*/
.hero {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to right top, #000000, #161616, #242424, #343434, #444444);
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.hero::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0, .4); 
    z-index: 10;
}

.hero__waves {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15;
    width: 100%;
}


.hero__contentWrapper {
    display: flex;
    position: relative;
    z-index: 20;
}

.hero__column {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.hero__column--alt {
    position: relative;
}

.hero__header {
    font-size: 65px;
    line-height: 60px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.hero__header--color {
    color: #edd021;
}

.hero__subtext {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    line-height: 1.9;
}

.hero__btn {
    background: none;
    color: #edd021;
    display: inline-block;
    align-self: flex-start;
    padding: 12px 70px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    border: 1px solid #edd021;
    transition: all .08s ease-in-out;
}

.hero__btn:hover {
    background: #edd021;
    color: #000;
}

.hero__image {
    width: 100%;
    min-width: 400px;
}

/* 
! ==========================================
! HERO | END
! ==========================================
*/

/* 
! ==========================================
! POINTS | START
! ==========================================
*/
.points {
    width: 100%;
    padding: 80px 0;
}

.points__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.points__point {
    flex: 0 32%;
    background: none;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #edd021;
}

.points__title {
    color: #edd021;
    font-size: 16px;
    font-weight: 600;
}

.points__text {
    color: #fff;
    font-size: 14px;
}
/* 
! ==========================================
! POINTS | END
! ==========================================
*/

/* 
! ==========================================
! BULLETS LEFT | START
! ==========================================
*/
.bulletLeft {
    position: relative;
    width: 100%;
    padding: 100px 0;
    color: #fff;

}

.bulletLeft::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 12;
    transform: skewY(-5deg);
    background: url('img/bg2.jpg');
    background-size: cover;
}

.container--flex {
    display: flex;
    position: relative;
    z-index: 14;
}

.bulletLeft__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bulletLeft__column--two {
    flex-grow: 1;
    min-width: 550px;
}

.bulletLeft__header {
    font-size: 30px;
    font-weight: 600;
}

.bulletLeft__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bulletLeft__item {
    padding: 20px 0;
}

.bulletLeft__title {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #edd021;
}

.bulletLeft__text  {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

.bulletLeft__image {
    width: 100%;
}

/* 
! ==========================================
! BULLETS LEFT | END
! ==========================================
*/

/* 
! ==========================================
! BULLETS RIGHT | START
! ==========================================
*/
.bulletRight {
    position: relative;
    width: 100%;
    padding: 100px 0;
    color: #fff;
    margin-top: 80px;

}

.bulletRight::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 12;
    /* transform: skewY(-5deg);
    background: url('img/bg2.jpg'); */
    background-size: cover;
}

.container--flex {
    display: flex;
    position: relative;
    z-index: 14;
}

.bulletRight__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    box-sizing:border-box;
    padding: 20px;
}

.bulletRight__column--two {
    flex-grow: 1;
    min-width: 550px;
    order: 1;
}

.bulletRight__header {
    font-size: 30px;
    font-weight: 600;
}

.bulletRight__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bulletRight__item {
    padding: 20px 0;
}

.bulletRight__title {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #edd021;
}

.bulletRight__text  {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

.bulletRight__image {
    width: 100%;
}

/* 
! ==========================================
! BULLETS LEFT | END
! ==========================================
*/

/* 
? ==========================================
? MEDIA QUERIES
? ==========================================
*/
@media (max-width: 960px) {
    .hero__contentWrapper {
        flex-direction: column;
        text-align: center;
    }

    .hero {
        height: auto;
    }

    .hero__header {
        padding: 0 40px;
    }

    .hero__subtext {
        padding: 0 40px;
    }

    .hero__btn {
        justify-content: center;
        align-self: center;
        padding: 12px 80px;
        background: #edd021;
        color: #000;
    }

    .hero__column {
        margin-top: 40px;
    }

    .hero__image {
        max-width: 75%;
        align-self: center;
        min-width: 0;
    }

    .points__point {
        flex: 0 0 49%;
    }

    .container--flex {
        flex-direction: column;
    }

    .bulletLeft__column--two {
        width: 100%;
    }

    .bulletLeft__image {
        width: 80%;
        margin: 0 auto;
    }

    /* .bulletLeft__header {
        text-align: center;
    }

    .bulletLeft__item {
        text-align: center;
    } */
}

@media (max-width: 650px) {
    .points__point {
        flex: 0 0 100%;
        padding: 0 20px;
        margin-bottom: 15px;
    }

    .points__title {
        padding: 10px 0 0;
        margin: 0;
    }

    .points__text {
        margin: 0;
        padding: 0 0 15px;
    }
}